@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Block";
  font-weight: 400;
  src: url(font/Block Light.ttf) format('truetype');

  font-family: "Rodchenko";
  font-weight: bold;
  src: url(font/Rodchenko_Condensed.ttf) format('truetype');
}

body {
  background-image: url(img/bg-shop.png);
  background-size: cover;
  animation: noise 250ms linear reverse infinite;
  /* overflow: hidden; */
}
 @keyframes noise {
   0% {
     background-image: url(img/bg-shop.png);
     background-size: cover;
   }
   25% {
     background-image: url(img/bg-shop-2.png);
     background-size: cover;
   }
   50% {
     background-image: url(img/bg-shop-3.png);
     background-size: cover;
   }
   75% {
     background-image: url(img/bg-shop-4.png);
     background-size: cover;
   }
   100% {
     background-image: url(img/bg-shop.png);
     background-size: cover;
   }
 }

h1 {
  color: white;
  font-family: "Block", monospace;
  font-size: 5vw;
  margin-left: 8.472vw;
  margin-top: 7vw;
}



nav{
  position: relative;
  height: 12vh;
  margin-top: 40px;
}

ul {
  position: absolute;
  right: 6%;
  top: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

li {
  padding-left: 100px;
}

.logo {
  position: absolute;
  left: 4%;
  height: 10vw
}

.logo:hover {
  border: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Rodchenko";
  font-size: 20px;
}

.active {
  border: solid;
  padding: 11px 30px 6px;
}

li a:hover{
  border-bottom: solid;
  padding-bottom: 6px;
}

.shopBox {
  display: block;
  margin-left: 20vw;
  margin-top: 50px;


}

p {
  color: white;
  font-family: "Rodchenko";
  font-size: 30px;
  margin-top: 20px;
}

.shopBox img {
  height: 18vw
}

.shopBox img:hover {
  opacity: 0.3;
}

.firstRow {
  display: flex;
  flex-flow: row;
}

.firstRow div {
  margin-left: 100px;

}

.secondRow {
  display: flex;
  flex-flow: row;
  margin-top: 100px;
  margin-bottom: 100px;
}

.secondRow div {
  margin-left: 100px;

}

.menu,
.links,
.linksItem {
  visibility:hidden;
}

@media (max-width: 425px) {
  a {
    color: black;
  }

  /* .header{
    display: none;
  } */

  .nav {
    height: 10vh;
  }
  .menu,
  .close {
    position: absolute;
    width: 10vw;
    /* cursor: pointer; */
    left: 80%;
    top: 7%;
    /* transform: translate(-5%,-50%); */
    z-index: 2;
  }
    .menu {
    visibility: visible;
  }

  .close {
    visibility:hidden;
  }

    .links {
    list-style: none;
    position: absolute;
    background: white;
    height: 100%;
    width: 100%;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    visibility: hidden;
    border: 3px solid;
    top: 9vw;
    left: 5vw;
    align-items: start;
    margin-top: -43px;
    margin-left: -25px;

  }


  .linksItem {
    margin-left: -3vw;
    font-size: 15vw;
    font-family: "Block", monospace;
    padding: 20px;
  }

  .navDesk {
    visibility:hidden;
  }





  h1 {
    font-size: 17vw;
    margin-top: 62vw;
  }

  .shopBox img {
    height: 20vw
  }

  .firstRow {
  }

  .firstRow div {
    margin-left: 100px;
  }

  .secondRow {
  }

  .secondRow div {
    margin-left: 100px;

  }



















}
